/* Font families */
/* Main colors */
/* Section colors */
html {
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", serif;
  color: #2f281e; }

h1 {
  font-size: 44px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 20px;
  color: #544837; }

h5 {
  font-size: 16px;
  color: #544837; }

a {
  color: #2f281e; }

p {
  font-size: 16px;
  color: #544837; }

p.large {
  font-size: 18px; }

/* ==========================================================================
[General classes]
========================================================================== */
.band {
  position: relative;
  width: 100%; }

.container {
  width: 90%;
  height: 100%;
  margin: auto; }
  .container .row {
    padding: 10px;
    margin: 5px; }
    .container .row img {
      max-width: 100%; }

.base-grid {
  height: 100%; }

.tl {
  text-align: left; }

.tc {
  text-align: center; }

.tr {
  text-align: right; }

.cb {
  clear: both; }

.fl {
  float: left; }

.fr {
  float: right; }

.fn {
  float: none; }

.m-5 {
  margin: 5px; }

.mt-5 {
  margin-top: 5px; }

.mr-5 {
  margin-right: 5px; }

.mb-5 {
  margin-bottom: 5px; }

.ml-5 {
  margin-left: 5px; }

.m-10 {
  margin: 10px; }

.mt-10 {
  margin-top: 10px; }

.mr-10 {
  margin-right: 10px; }

.mb-10 {
  margin-bottom: 10px; }

.ml-10 {
  margin-left: 10px; }

.m-15 {
  margin: 15px; }

.mt-15 {
  margin-top: 15px; }

.mr-15 {
  margin-right: 15px; }

.mb-15 {
  margin-bottom: 15px; }

.ml-15 {
  margin-left: 15px; }

.p-5 {
  padding: 5px; }

.pt-5 {
  padding-top: 5px; }

.pr-5 {
  padding-right: 5px; }

.pb-5 {
  padding-bottom: 5px; }

.pl-5 {
  padding-left: 5px; }

.p-10 {
  padding: 10px; }

.pt-10 {
  padding-top: 10px; }

.pr-10 {
  padding-right: 10px; }

.pb-10 {
  padding-bottom: 10px; }

.pl-10 {
  padding-left: 10px; }

.p-15 {
  padding: 15px; }

.pt-15 {
  padding-top: 15px; }

.pr-15 {
  padding-right: 15px; }

.pb-15 {
  padding-bottom: 15px; }

.pl-15 {
  padding-left: 15px; }

.menu-container ul {
  margin: 0;
  padding: 0; }
  .menu-container ul li {
    list-style: none;
    display: inline; }

input[type="email"],
input[type="number"],
input[type="search"],
input[type="password"],
input[type="text"],
textarea {
  padding: 10px;
  margin: 5px 5px 5px 0;
  border: none;
  border-radius: 3px;
  border: #bcd0e5 solid 1px;
  font-size: 16px;
  color: #bcd0e5; }

[type="submit"], [type="button"], button, .button, .menu .active {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px 5px 5px 0;
  background-color: #ff9900;
  color: white;
  border-radius: 3px;
  border: none;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer; }

[type="submit"].secondary, [type="button"].secondary, button.secondary, .button.secondary {
  color: #173a56;
  border: #bcd0e5 solid 1px;
  background: none; }

/* ==========================================================================
[Navigation]
========================================================================== */
.band-navigation * {
  transition: 1s; }

.band-navigation ul {
  margin: 0;
  padding: 0; }
  .band-navigation ul li {
    list-style: none;
    display: inline; }
    .band-navigation ul li a {
      display: inline-block;
      padding: 10px 20px;
      margin: 5px 0;
      text-decoration: none; }

.band-navigation .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .band-navigation .row .logo {
    display: inline-block;
    margin: 12px auto; }
  .band-navigation .row .navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .band-navigation .row .navigation ul {
      display: none; }

.band-navigation .hamburger-toggle {
  background: #ff9900;
  color: white;
  text-align: center;
  border-radius: 5px;
  position: relative;
  z-index: 5; }

/* ==========================================================================
[Header]
========================================================================== */
.band-header .row {
  text-align: center;
  display: flex;
  flex-wrap: wrap; }
  .band-header .row .header-left {
    flex-grow: 1;
    margin-bottom: 50px; }
  .band-header .row .header-right {
    flex-grow: 1; }

.band-header .video-button {
  font-weight: bold;
  color: #ff9900;
  text-decoration: none;
  font-size: 17px;
  margin-left: 20px; }
  .band-header .video-button i {
    margin-right: 10px; }

/* ==========================================================================
[Feature]
========================================================================== */
.band-feature {
  background-image: url("./../img/Bg.png");
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 50px;
  margin-bottom: 50px;
  background-size: cover; }
  .band-feature * {
    transition: 1s; }
  .band-feature h2 {
    margin: 30px auto; }
  .band-feature .feature-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center; }
    .band-feature .feature-items > * {
      flex: 250px 0 1;
      text-align: center; }
      .band-feature .feature-items > * .pointer {
        background: #7652be; }
      .band-feature .feature-items > * .user {
        background: #faaf05; }
      .band-feature .feature-items > * .heart {
        background: #f03e3d; }
      .band-feature .feature-items > * .hourglass {
        background: #4cadf7; }
      .band-feature .feature-items > * span {
        display: inline-block;
        padding: 10px 20px;
        border-radius: 15px; }
        .band-feature .feature-items > * span i {
          color: white; }

/* ==========================================================================
[Validation]
========================================================================== */
.band-validation .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px; }
  .band-validation .row > * {
    flex-grow: 1;
    margin-bottom: 20px; }
  .band-validation .row h2 {
    margin: 5px 0; }
  .band-validation .row h3 {
    margin-bottom: 0; }
  .band-validation .row p {
    margin-top: 5px; }
  .band-validation .row ul {
    margin: 0;
    padding: 0; }
    .band-validation .row ul li {
      list-style: none;
      background-image: url("./../img/tick.png");
      background-repeat: no-repeat;
      background-position: center left;
      line-height: 25px;
      padding: 15px;
      padding-left: 60px; }

/* ==========================================================================
[Hero]
========================================================================== */
.band-hero {
  position: relative;
  padding-top: 150px;
  background-image: url("./../img/Oval.png");
  background-position: center top;
  background-repeat: no-repeat;
  margin-bottom: 100px; }
  .band-hero .hero-center {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-bottom: 50px; }
    .band-hero .hero-center h2 {
      margin-top: 0; }
    .band-hero .hero-center p {
      color: #567592; }
  .band-hero .heros {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .band-hero .heros .hero {
      position: relative;
      display: flex;
      position: static;
      margin-bottom: 50px; }
      .band-hero .heros .hero img {
        border-radius: 50%; }
      .band-hero .heros .hero p {
        position: relative;
        background: #fff;
        padding: 10px;
        box-shadow: 0 2px 7px -6px #000;
        border-radius: 20px;
        display: inline;
        top: -50px;
        height: 25px;
        left: -20px; }
        .band-hero .heros .hero p::after {
          position: absolute;
          content: "";
          display: block;
          width: 20px;
          height: 20px;
          background: white;
          border-radius: 50%;
          box-shadow: 0 2px 7px -6px #000; }
        .band-hero .heros .hero p::before {
          position: absolute;
          content: "";
          display: block;
          width: 10px;
          background: white;
          border-radius: 50%;
          box-shadow: 0 2px 7px -6px #000;
          left: 0;
          height: 10px;
          bottom: -30px; }
      .band-hero .heros .hero.hero-right p {
        left: 10px; }
      .band-hero .heros .hero.hero-right p::after {
        right: 0; }
      .band-hero .heros .hero.hero-right p::before {
        left: auto;
        right: -10px; }
    .band-hero .heros .hero-right img {
      order: 1; }

/* ==========================================================================
[Strategies]
========================================================================== */
.band-strategies {
  text-align: center; }
  .band-strategies .container {
    border-bottom: #dde7f2 solid 1px; }
  .band-strategies h2 {
    margin: 0; }
  .band-strategies h3 {
    margin: 0;
    line-height: 35px;
    margin-top: -10px; }
  .band-strategies p {
    margin-top: 0; }
  .band-strategies .slide-meta {
    padding: 15px 0;
    font-size: 18px;
    color: #544837; }
  .band-strategies .slick-dots {
    text-align: center;
    margin: 80px 0;
    padding: 0;
    list-style: none; }
    .band-strategies .slick-dots li {
      display: inline; }
      .band-strategies .slick-dots li button {
        padding: 0;
        width: 16px;
        height: 16px;
        border-radius: 50%; }
      .band-strategies .slick-dots li.slick-active button {
        background: #efefef; }
  .band-strategies .slick-slide {
    margin: 0 20px; }
  .band-strategies .slick-list {
    margin: 0 -10px; }

/* ==========================================================================
[Footer]
========================================================================== */
.band-footer {
  margin: 80px 0; }
  .band-footer h4 {
    margin: 0; }
  .band-footer .footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .band-footer .footer-columns .footer-column {
      flex-basis: 100%;
      text-align: center;
      margin: 20px 0; }
      .band-footer .footer-columns .footer-column ul {
        margin: 0;
        padding: 0;
        list-style: none; }
        .band-footer .footer-columns .footer-column ul a {
          text-decoration: none;
          line-height: 35px; }

/* ==========================================================================
[Hamburger menu]
========================================================================== */
.hamburger-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  top: 0; }

.hamburger-menu {
  display: none;
  position: fixed;
  width: 70%;
  background: #ff9900;
  top: 100px;
  margin: auto;
  left: 0;
  right: 0;
  border-radius: 5px;
  box-shadow: 0 5px 20px -13px black; }
  .hamburger-menu ul {
    margin: 20px;
    padding: 0;
    list-style: none; }
    .hamburger-menu ul li a {
      color: white;
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
      display: block;
      text-align: center;
      line-height: 50px; }

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .band-navigation .row {
    justify-content: space-between; }
    .band-navigation .row .navigation ul {
      display: block; }
  .hamburger-toggle,
  .hamburger-overlay,
  .hamburger-menu {
    display: none !important; } }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .band-navigation .row {
    justify-content: center; }
    .band-navigation .row .logo {
      margin: 12px 0; }
  .band-header .row {
    text-align: left;
    flex-wrap: nowrap; }
    .band-header .row .header-left {
      flex: 1; }
    .band-header .row .header-right {
      flex: 3; }
  .band-validation .row {
    margin-bottom: 100px; }
    .band-validation .row > * {
      flex-grow: 0;
      flex-basis: 45%; }
  .band-strategies {
    text-align: left; }
  .band-footer .footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .band-footer .footer-columns .footer-column {
      flex: 250px 0 1;
      text-align: left; } }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .band-navigation .row {
    justify-content: space-between; }
    .band-navigation .row .navigation {
      justify-content: space-between; }
  .band-header .row {
    flex-wrap: nowrap; }
    .band-header .row .header-left {
      flex: 3; }
    .band-header .row .header-right {
      flex: 3; }
  .band-feature h2 {
    width: 50%; }
  .band-feature .feature-items > * {
    text-align: left; }
  .band-hero .heros .hero {
    position: relative; } }

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    width: 1100px; } }

/* ==========================================================================
[Browser upgrade]
========================================================================== */
.browserupgrade {
  background: yellow;
  padding: 10px; }
