/* Font families */
$primary_font_family: 'Poppins', sans-serif;
$secondary_font_family: 'Poppins', serif;

/* Main colors */
$primary_color: #2f281e;
$primary_color_light: #2f281e;
$secondary_color: #ff9900;
$secondary_color_light: #ff9900;
$dark_black: #544837;
$light_black: #111;

/* Section colors */
$header_bg_color: #fff;
$body_bg_color: #fff;
$sidebar_bg_color: #fff;
$footer_bg_color: #fff;
